<header class="header">
  <div class="header-left">
    <button *ngIf="isMobile" class="hamburger-btn" (click)="onToggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="brand-group hide-mobile">
      <h2 class="page-title">Sistem Informasi Manajemen Bawaslu</h2>
    </div>
  </div>
  
  <div class="header-right">
    <a routerLink="/dashboard/struktur-organisasi" class="struktur-link hide-mobile">
      <mat-icon style="font-size: 18px; width: 18px; height: 18px;">account_tree</mat-icon> 
      Bagan Struktur
    </a>
    
    <div class="user-profile">
      <div class="avatar">
        {{ userInitial() }}
      </div>
      <div class="user-info hide-mobile">
        <span class="user-name">
          {{ userName() | slice:0:16 }}{{ (userName().length) > 16 ? '...' : '' }}
        </span>
        <span class="user-role-label">
          {{ userRole() }}
        </span>
      </div>
    </div>
  </div>
</header>
